<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Disco Billing</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css"/>
        <link rel="stylesheet" href="~/css/site.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"/>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true"/>
    </environment>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css">
</head>
<body>
<nav class="navbar navbar-light navbar-fixed-top bg-faded">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/images/DiscoLogo.png" alt="DISCO"/>
        </a>
    </div>
</nav>
@*<div class="navbar navbar-light navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/DiscoLogo.png" alt="DISCO" /></a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @*<li><a asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>*@
<div class="container body-content">
    @RenderBody()
    @*<hr />
            <footer>
                <p>&copy; 2016 - CS Disco Inc.</p>
            </footer>*@
</div>

<environment names="Development">
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/tether/dist/js/tether.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/lib/react/react.js"></script>
    <script src="~/lib/react/react-dom.js"></script>
    <script src="~/lib/babel/browser.min.js"></script>
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/billing.js"></script>
    <script type="text/babel" src="~/js/site.jsx"></script>
</environment>
<environment names="Staging,Production">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"
            asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
            asp-fallback-test="window.jQuery">


    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.1.1/js/tether.min.js"
            asp-fallback-src="~/lib/tether/dist/js/tether.js"
            asp-fallback-test="window.Tether">


    
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/js/bootstrap.min.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">


    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"
            asp-fallback-src="~/lib/react/react.js"
            asp-fallback-test="window.React">


    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"
            asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
            asp-fallback-test="window.ReactDOM">


    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"
            asp-fallback-src="~/lib/babel/browser.min.js"
            asp-fallback-test="window.babel">


    
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"
            asp-fallback-src="~/lib/moment/min/moment.min.js"
            asp-fallback-test="window.moment">



    </script>
    <script src="~/js/billing.js"></script>
    <script type="text/babel" src="~/js/site.jsx"></script>
</environment>

@RenderSection("scripts", false)
</body>
</html>